*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body{
    display: grid;
    place-items: center;
    min-height: 80vh;
     background-color: #1d1e22; 
  }
  
  :root{
  --boxShadowInset: inset 5px 5px 7px #0c0c0e, inset -5px -5px 7px #2e3036;
  --boxShadow:  5px 5px 7px #0c0c0e,  -5px -5px 7px #2e3036;
  }
  
  form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 50px 50px 50px;
    border-radius: 8px;
    box-shadow:  var(--boxShadowInset);
  }
  
  .head{
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 25px;
  }
  
  input{
    padding: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    border-radius: 4px;
    box-shadow: var(--boxShadow);
    transition: .2s;
  }
  
  input:focus{
    box-shadow: var(--boxShadowInset);
  }
  
  button{
    padding: 10px;
    border: none;
    background-color: transparent;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: var(--boxShadow);
  
  }
  p{
    padding: 20px;
    
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
  }
  .forgot{
    text-align: center;
    color: white;
    font-size: 12px;
  }
  
  .forgot a{
    color: aquamarine;
  }
  

header{
box-sizing: border-box;
width: 100%;
padding: 40px;
background-color: #242421;
box-shadow: 0 0 5px black;
}

header li{
display:contents;
padding: 20pxpx;

}
header li a{
font-size: 30px;
color: #f1f1f1;
text-decoration: none;
padding: 20px;


}

header li a:hover
{
color: rgb(149, 168, 226);
}

header ul li b{
font-size: 60px;
margin-top: -10px;
color: #fff;
padding: 1px;
position: relative;

}