*
{
    box-sizing: border-box;
    margin: 0px;
}
#header{
    padding: 20px;            
    background-color: rgba(0, 0, 0, 0.833);
    height: 150px;
    width: 100%;
    position: relative;
    top: 0px;
    display: block;
    text-align: right;
}
#header input[type="button"]{
    float: right;
}
#header nav{
    padding-top: 10px;
}
#header h1,a{
    color: white;
    text-align: left;
    text-decoration: none;
}
#links li{
    display: inline; 
    padding: 50px;
    
}
#links li a{
    color: rgb(156, 156, 156);
    text-decoration: none; 
    font-size: 20px;
}
#links li a:hover{
    color: white;        
}
#search-bar{
    width: 85%;
    float: right;
}
input[type="search"]{
    width: 85%;
    height: 50px;
    margin: 15px 0 25px;
    border: solid rgb(223, 220, 220) 2px;
    font-size: 16px;
    border-radius: 30px;
}
input[type="search"]:hover{
    border:2px double #cccccc5e;
}
input[type="button"]{
    background-color: #f6f6f6;
    padding: 15px 15px 10px;
    border: white;
    margin: 0px;
    width: 140px;
}
input[type="button"]:hover{
    cursor: pointer;
    border: #ccc solid 1px;
}
.sidebar{
    width: 170px;
    float: left;
}
.sidebar-links, .sidebar-button{
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px;
}
.sidebar-links:hover, .sidebar-button:hover{
    background-color: rgb(205, 204, 204)
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    padding: 3px;
    float: right;
    margin: 5px;
  }
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
 .main-container{
    border: 2px black solid;
    border-radius: 20px;
    display: block;
    float: right;
    overflow: hidden;
    width: 1300px;
    height:  170px;
    margin: 20px;
    transition:height 1s;
    padding: 20px;
    
 }
 
 .main-container:hover{
    height: 250px;
    border-color: #b1b1b1 ;    
 }


 .main-content
{
    overflow: hidden;
    margin-left: 20px;
}
 
 
 .main-container img{
    height: 130px;
    width: 10%;
    border-radius: 50%;
    float: left;
    border-color: #b1b1b1 ;    
 }


 