*{
    margin: 0;
    padding: 0;
    
}

header{

    padding: 30px;
    background-color: #242421;
    box-shadow: 0 0 5px black;
    
    }
    
    header li{
    display:contents;
    
    padding: 35px;
    
    }
    header li a{
    font-size: 30px;
    color: #f1f1f1;
    text-decoration: none;
    padding: 35px;
    
    
    }
    
    header li a:hover
    {
    color: rgb(149, 168, 226);
    }
    
    header ul li b{
    float: left;
    font-size: 60px;
    margin-top: -10px;
    color: #fff;
    padding-right: 90px;
    
    }

    span{
        font: 30px arial black;
    }
    .banner{
        margin: 100px;
        text-align: center;
    }

    .banner h1{
        margin-right: 1050px;
    }

    .banner .genshin{
        margin-right: 1050px;
        text-decoration: none;
        color: black;
        font: 30px arial black;
        
    }

    .banner .inside{
        font-size: 20px; 
        color: #3f3f3f;
        margin: 15px;
        margin-right: 500px;
    
    }

    .banner .readmore{
        color: black;
        font: 20px arial;
        margin-right: 1550px;
    }
    
    .readmore:hover{
        color: rgb(149, 168, 226);
    }
    
    /* .news2{
        border-top: 1px solid rgb(0, 0, 0);
        margin-left: 285px;
        margin-right: 285px;
        /* padding: auto;
        margin-bottom: 70px;  */
        /* padding: 10px; */
    
    /* }  */

    /* .news2 .single_car{
        float: left;
        margin-right: 50px;
    } */

    /* .grey_bg h1{
        font-size:50px;
        padding-top: 20px;
        padding-right: 850px;
        
    } */
    
    /* .grey_bg p i{
        font-size:x-large;
        /* padding-left: 385px; */
    
    /* } */ 
    
/*     
    .grey_bg1 i a{
        font-size:x-large;
        position: absolute;
        right: 350px;
       
    } */

    .news3{
        margin-top: 10px;
        border-top: 1px solid rgb(0, 0, 0);
        /* padding: 10px; */
        overflow: auto;
        margin-left: 150px;
        margin-right: 150px;
        
        
    
    }

    .news3 .single_car{
        float: left;
        margin-right: 50px;
        margin-top: 10px;
        
    }

    .grey_bg1 h1{
        font-size:50px;
        padding-top: 20px;
        padding-right: 850px;
        
    }
    
    .grey_bg1 p i{
        font-size:x-large;
        
    
    }
    
    
    .grey_bg1 i a{
        font-size:x-large;
        position: absolute;
        right: 300px;
        margin-top: 40px;
        
       
    }